body{
  margin: 0;
  font-size: 17px;
  background-color: #F1F1F1;

}
.brand{
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}
.description{
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.procure-btn{
  margin: 0 auto 0 auto;
}
.link-color{
  font-weight: bold;
  color: white;
}
.nav-dec{
  background-color: #009FDF;
  color: #fff;
}
.services-heading{
  font-size: 17px;
  text-align: center;
}
.services-header{
  background-color: #009FDF;
  color: #fff;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.card-dec{
  margin: 40px;
}

.carousel-images{
  margin: 0;
  height: 400px;
}
.goods{
  background-color: green;
}
.footer{
  background-color: #FFFFFF;
  margin: 30px, auto;
  font-size: 13px;

}
.sponsored{
  margin-bottom: 30px;
  border-radius: 50px;
}
/*Registration form styling*/
.reg-form{
  background-color: #fff;
  border: 2px;
  border-radius: 50px;
  margin: 50px auto 0 auto;
  width: 680px;
  padding: 40px;
}
